<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shizhongkeji.mscv5plus"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:icon="@drawable/icon_soundhelper"
        android:name="SpeechApp"
        android:label="时中语音" >
        
        <activity
            android:name="com.shizhongkeji.mscv5plus.AsrMain"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout|fontScale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.fjsz.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT"/>
            </intent-filter> 
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>  
        </activity>
        
        <activity
            android:name="com.shizhongkeji.mscv5plus.IatActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.fjsz.action.IatActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.shizhongkeji.mscv5plus.IatSettings" >
        </activity>
        
        <service android:name="com.shizhongkeji.mscv5plus.Asr_service" >
        </service>

         <activity
            android:name="com.shizhongkeji.mscv5plus.Test"
            android:label="@string/title_activity_test" >
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity> 
        
         <receiver android:name="com.shizhongkeji.mscv5plus.GestureBroadcastReceiver">
             <intent-filter >
                 <action android:name="com.shizhongkeji.action.GESTURE.START_VOICE_ASSIST"></action>
                 <action android:name="com.shizhongkeji.action.GESTURE.STOP_VOICE_ASSIST"></action>
             </intent-filter>
         </receiver>
    </application>

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission> 
	<uses-permission android:name="android.permission.READ_SMS"></uses-permission> 
	<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
	
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> 
	<uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

</manifest>